*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('/fonts/poppins/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

.logo-header{
    width: 100%;
display: flex;
justify-content: center;
padding: 20px;
background: white;
margin-bottom: 10px;

}

